<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn More</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='learn.css') }}">
    <style>

    </style>
</head>
<body>
    <h1 style="padding-top: 7px;color:#B768A2; font-family:cursive ;">Learn More</h1>
   <h4 style="color:#86608E;font-family:cursive">Breast cancer is the most commonly occurring cancer in women and the <br>second most common cancer overall. There were over 2.3 million new <br>cases in 2020, making it a significant health problem in the present day.<br><br>
The key challenge in breast cancer detection is to classify tumors as<br> malignant or benign. Malignant refers to cancer cells that can invade and <br> kill nearby tissue and spread to other parts of your body. Unlike cancerous<br> tumors (malignant), Benign does not spread to other parts of the body and <br>is safe somehow.<br> <br>Deep neural network techniques can be used to improve the accuracy of <br>early diagnosis significantly.
Deep Learning is a subfield of machine<br> learning concerned with algorithms inspired by the structure and function <br>of the brain called an artificial neural network.<br><br>
A Recurrent Neural Network (RNN) is a Deep Learning algorithm that can <br>take in an input image, assign importance to various aspects/objects in the <br>image, and be able to differentiate one from the other.</h4>
</body>
</html>